<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">{{title}}</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="">Logout</a></li>
        </ul>
    </div>
</nav>
<br>
<ul class="collection">
    <h4>Your Pending Appointments:</h4>
    {{#if body.inactiveAppointments}}
        {{#each body.inactiveAppointments}}
            <li class="collection-item avatar">
                <i class="material-icons circle red">done</i>
                <span class="title">{{time}}</span>
                <br>
                <p>Worker Name: {{Worker.User.firstname}} {{Worker.User.lastname}}</p>
                <p>Email: {{Worker.User.email}}</p>
                <p>Room Number: {{Worker.room_num}}</p>
            </li>
        {{/each}}
    {{else}}
        <p>You have no pending appointments.</p>
    {{/if}}
</ul>
<ul class="collection">
    <h4>Your Approved Appointments:</h4>
    {{#if body.activeAppointments}}
        {{#each body.activeAppointments}}
            <li class="collection-item avatar">
                <i class="material-icons circle green">done</i>
                <span class="title">{{time}}</span>
                <br>
                <p>Worker Name: {{Worker.User.firstname}} {{Worker.User.lastname}}</p>
                <p>Email: {{Worker.User.email}}</p>
                <p>Room Number: {{Worker.room_num}}</p>
            </li>
        {{/each}}
    {{else}}
        <p>You have no approved appointments.</p>
    {{/if}}
</ul>
<div class="modal-footer">
    <a class="waves-effect waves-light btn" href="#addModal">Schedule An Appointment</a>
</div>

<div id="addModal" class="modal">
    <div class="modal-content">
        <h4 class="center-align">New Appointment</h4>
        <div class="row">
            <form action="/customerPortal" method="post" class="col s12" id="customerPortal">
                <div class="row">
                    <div class="input-field col s12">
                        <select name="worker">
                            {{#if body.workers}}
                                hi
                                {{#each body.workers}}
                                    <option value={{id}}>{{User.firstname}} {{User.lastname}}</option>
                                {{/each}}
                            {{else}}
                                <option value="" disabled>No Workers!</option>
                            {{/if}}
                        </select>
                        <label>Worker</label>
                    </div>
                </div>
                <div class="row">
                    <input type="date" name="date" class="datepicker">
                </div>
                <!-- <div class="input-field col s12">
                    <select name="time">
                            <option value="" disabled>No Workers!</option>
                    </select>
                    <label>Worker</label>
                </div> -->
                <div class="row">
                    Select a time:
                    <input type="time" name="usr_time">
                </div>


            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button form="customerPortal" class="btn waves-effect waves-light" type="submit" name="action">Submit
        </button>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
<script>
    $(document).ready(function () {
        $('.modal').modal();
        $('select').material_select();
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 1 // Creates a dropdown of 15 years to control year
        });

    });
</script>
