<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">{{title}}</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="">Logout</a></li>
        </ul>
    </div>
</nav>
<br>
<ul class="collection">
    <p>Approved Appointments</p>
    {{#if activeAppointments}}
        {{#each activeAppointments}}
            <li class="collection-item avatar">
                <i class="material-icons circle green">done</i>
                <span class="title">{{time}}</span>
                <p>John Doe
                </p>
                <a href="#!" class="secondary-content"><i class="material-icons">mode_edit</i></a>
            </li>
        {{/each}}
    {{else}}
        <p>You have not approved any appointments.</p>
    {{/if}}
</ul>
<br>
<ul class="collection">
    <p>Pending Appointments</p>
    {{#if inactiveAppointments}}
        {{#each inactiveAppointments}}
            <li class="collection-item avatar">
                <i class="material-icons circle green">done</i>
                <span class="title">{{time}}</span>
                <p>John Doe
                </p>
                <a href="#!" class="secondary-content"><i class="material-icons">mode_edit</i></a>
            </li>
        {{/each}}
    {{else}}
        <p>You have no appointments to approve.</p>
    {{/if}}
</ul>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
<script>
    $(document).ready(function () {
        $('.modal').modal();
        $('select').material_select();
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 1 // Creates a dropdown of 15 years to control year
        });

    });
</script>